<div class="login">
  <div class="content">
    <h1 class='brand-name'>eFarmony</h1>
    <div class="modal">
      <form>
        <mat-form-field class="text-input">
          <input matInput placeholder="User Name">
        </mat-form-field>
        <mat-form-field class="text-input">
          <input matInput placeholder="Password">
        </mat-form-field>
        <button mat-button class="text-input">Login</button>
      </form>
      <p>Not Registered? <a href="#">Create an account.</a></p>
    </div>
  </div>
</div>
